#UserSearch
{
    position: absolute;
    display: block;
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0;
    box-sizing: border-box;
    z-index: 1;
}

#ResultsDiv
{
    position: absolute;
    width: 100%;
    margin: 9px 0;
    box-sizing: border-box;
    padding: 10px 0px;
}

#ResultsDiv li  
{
  position: relative;
  background-color: #f6f6f6; 
  padding: 0px; 
  font-size: 10px; 
  color: black;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

#ResultsDiv li:hover
{
    background-color: rgb(189, 202, 202);
}

#SearchAndResultsDiv
{
    position: absolute;
    display: block;
    top: 5%;
    left: 31%;
    width: 40vh;
    transform: translateX(-50%) translateY(-50%);
}

#ProfilePicture
{
    position: absolute;
    width: 20vh;
}

#table
{
    position: absolute;
    top:33%;
    width:45%;
    z-index: 3;
}

.tabulator-header
{
    font-size: 14px;
}

.tabulator-tableHolder
{
    font-size: 14px;
}

#ImpactPieChartDiv
{
    position: absolute;
    width: 50vh;
    right: 0px
}

#RankingPieChartsParent
{
    position: absolute;
    left: -6vh;
}

#RankingPieChartsDiv1
{
    position: relative;
    width: 35vh;
    left: 2vh;
    top: 46vh;
    display: flex;
}

#RankingPieChartsDiv2
{
    position: relative;
    width: 35vh;
    left: 2vh;
    top: 46vh;
    display: flex;
}