#Header
{
    position: absolute;
    display: flex;
    width: 100%;
    background-color: darkgray;
    top: 0px;
    left: 0px;
}
    #TeamTab, #PlayerTab, #DataTab, #HomePageTab
    {
        background-color: gray;
        width:25%;
        text-align: center;
    }
    #TeamTab:hover, #PlayerTab:hover, #DataTab:hover, #HomePageTab:hover
    {
        background-color: #8c8c8c;
    }

/*
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
*/

#SearchAndResultsDiv
{
    position: absolute;
    display: block;
    top: 10vh;
    left: 301px;
    width: 40vh;
    transform: translateX(-50%) translateY(-50%);
    z-index: 5;
}
    #UserSearch
    {
        position: absolute;
        display: block;
        width: 100%;
        padding: 0px 0px;
        margin: 0px 0;
        box-sizing: border-box;
        z-index: 1;
    }
    #ResultsDiv
    {
        position: absolute;
        width: 100%;
        margin: 9px 0;
        box-sizing: border-box;
        padding: 10px 0px;
    }
        #ResultsDiv li  
        {
          position: relative;
          background-color: #f6f6f6; 
          padding: 0px; 
          font-size: 10px; 
          color: black;
          display: block;
          width: 100%;
          box-sizing: border-box;
        }
        #ResultsDiv li:hover
        {
            background-color: rgb(189, 202, 202);
        }

/*
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
*/

#PictureTableShotChartWrapper
{
    position: absolute;
    top: 51px;
}
    #ProfilePicture
    {
        position: relative;
        top:0px;
    }
    #RosterTable
    {
        position: relative;
        top:33%;
        width:64vh;
        z-index: 3;
    }
    #ShotChartParent2
    {
        position: relative;
        width: 334px;
        left: 5vh;
        top: 30px;
    }
        #ShotChartParent
        {
            position: relative;
            width: 100%;
            height: 100%;
        }
            #court
            {
                position: absolute;
                width: 100%;
                top: -10px;
            }
/*
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
*/

#PieCharts
{
    position: absolute;
    width: 300px;
    left: 73vh;
    top: 50px;
    display: flex;
}
#PlayerChartWrapper
{
    top: 360px;
    width: 419px;
    left: 90vh;
    position: absolute;
}
    #Players
    {
        width: 100%;
    }

/*
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
*/

.tabulator-header
{
    font-size: 14px;
}
.tabulator-tableHolder
{
    font-size: 14px;
}

